/**
 * @file /global/_typography.scss
 * Typography styles
 */
body,
html {
  font-family: $sans;
  font-weight: $sans-regular;
  line-height: 1.8;
}

html {
  font-size: $base-font-size;
}

body {
  @include font-size(1.8);
}
// paragraphs
p {
  margin: 0;
  + p {
    margin-top: $space+$space-one-half;
  }
  + figure {
    margin-top: $space;
  }
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: $space+$space-one-half;
  }
  + ul,
  + ol {
    margin-top: $space-one-half;
  }
}
// headings
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $space-one-third;
  font-family: $sans;
  line-height: 1.2;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: .5em;
  margin-bottom: 0;
}
h1,
%h1 {
  @include font-size(3);
  font-weight: $sans-bolder;
  color:$gray-dark;
  &.post-title {
    margin-bottom: $space;
  }
  @include breakpoint($large) {
    @include font-size(4);
    max-width: $max-width;
  }
}
h2,
%h2 {
  @include font-size(2.4);

  font-weight: $sans-bolder;
  color:$gray;
  &.entry-title {
    margin: 0;
  }
  @include breakpoint($large) {
    @include font-size(3);
  }

  &.subtitle {
    @include font-size(1.8);
    font-weight: $sans-bold;

    @include breakpoint($large) {
      @include font-size(2);
      max-width: $max-width;
    }
  }
  &.site-slogan {
    @include font-size(2);
    font-weight: $sans-bolder;

    @include breakpoint($large) {
      @include font-size(2.4);
    }
  }
}
h3,
%h3 {
  @include font-size(1.8);
  color: $brown-mid-dark;
  font-weight: $sans-bold;
  text-transform: uppercase;

  @include breakpoint($large) {
    @include font-size(2);
  }
}

h4,
%h4 {
  @include font-size(1.6);
  color:$gray-mid-dark;

  font-weight: $sans-bold;

  @include breakpoint($large) {
    @include font-size(1.8);
  }
}
h5 {
  @include font-size(1.5);
  font-weight: $sans-regular;

  @include breakpoint($large) {
    @include font-size(1.6);
  }
}
h6 {
  @include font-size(1.4);

  font-weight: $sans-regular;

  @include breakpoint($large) {
    @include font-size(1.5);
  }
}

// emphasis styles
strong {
  font-weight: $sans-bold;
}
em {
  font-style: italic;
}

// form elements

label,
.label {
  @include font-size(1.6);

  font-family: $sans;
  font-weight: $sans-bold;
}
input,
textarea {
  @include font-size(1.6);
  font-family: $sans;
}

table {
  font-family: $sans;
}

// figure
figcaption {
  line-height: 1.5;
  vertical-align: middle;
}

// quotes
blockquote {
  @include font-size(1.6);

  @include breakpoint($large) {
    @include font-size(2);
  }
}

// lists
ul,
ol {
  @include font-size(1.6);
  font-family: $sans;
}
