/**
 * @file /components/_album-entries.scss
 * Album entry posts
 */

.album-entries {
  @include clearfix();
  margin: 0;
  padding: 0;

  > li {
    display: block;
    list-style: none;
    padding: $space 0;

    + li {
      margin-top: $space;
      border-top: $border-width solid $gray-lightest;
    }
  }
  figure {
    margin-bottom: $space;
    z-index: 0;
    @include breakpoint($medium) {
      float: left;
      width: 40%;
      margin-right: 4%;
      margin-bottom: 0;
    }
  }
}

.top-section {
  @include clearfix();
  margin-bottom: $space;
  position: relative;
}
.album-content {
  text-align: center;

  @include breakpoint($medium) {
    display: inline-block;
    padding: $space-one-half 0;
    float: left;
    width: 56%;
    text-align: left;
  }
}

.album-position {
  @include font-size(2.8);
  display: inline-block;
  color: $brown;
  font-weight: $sans-bolder;
  border-radius: 50%;
  background-color: $yellow;
  padding: $space-one-third;
  margin-bottom: $space-one-half;
  width: 70px;
  height: 70px;
  text-align: center;
}
.album-title {
  margin-top: $space-one-third;
  padding-top: $space-one-third;
  border-top: $border-width solid $yellow;
}

.highlights {
  margin-top: $space;
  padding: $space-one-half;
  background-color: $green-lightest;
}
// Sections
.honorables {
  @include clearfix();

  margin-top: $space;
  padding-top: $space;
  border-top: $border-width dotted $cream;
}
.worst {
  @include clearfix();

  margin-top: $space;
  padding-top: $space;
  border-top: $border-width dotted $cream;
}
