//////////////////////////////
// album-entries
// @_album-entries.scss
//////////////////////////////

.album-entries {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: $space-one-half 0;
    + li {
      margin-top: $space;
      border-top: $border-width solid $gray-lightest;
    }

    .top-section {
      @include clearfix();

      margin-bottom: $space-one-half;
    }
  }
  .position {
    @include font-size(2.8);
    color: $green;
    font-weight: $sans-bolder;
  }
  figure {
    @include breakpoint($medium) {
      max-width: $max-image-width-small;
      float: left;
      margin-right: $space-one-half;
    }
  }
}
