//////////////////////////////
// article-info
// @_article-info.scss
//////////////////////////////

.article-info,
%article-info {
  @include font-size(1.4);
  line-height: 2;
  padding: $space-one-half;
  background-color: $gray-lightest;
  font-style: italic;
  border-bottom: $border-width solid $gray-lighter;

  @include breakpoint ($large) {
    max-width: $max-width;
  }
  div {
    display: inline-block;
    padding: 0 $space-one-sixth;
    &.published {
      display: block;
      margin-bottom: $space-one-third;
    }
    &.categories {
      @include font-size(1.2);
      display: block;
      padding: 0;
    }
  }
}
