//////////////////////////////
// article
// @_article.scss
//////////////////////////////

article {
  position: relative;

  p {
    max-width:$text-max-width;
    .button {
      margin-top: $space-one-half;
    }
  }
}
