//////////////////////////////
// colorbar
// @_colorbar.scss
//////////////////////////////

.colorbar {
  background-color: $gray;

  @include breakpoint($x-large) {
    padding: $space-double $space;
  }
  + article {
    margin-top: $space;
  }
  &.gray,
  &.default {
    background-color: $gray;
    h1, h2 {
      color: $white;
      border: 0;
    }
  }
  &.yellow,
  &.primary {
    background-color: $yellow;
    h1, h2 {
      color: $gray-dark;
      border: 0;
    }
  }

  &.blue,
  &.secondary {
    background-color: $blue-light;
    h1, h2 {
      color: $gray-dark;
      border: 0;
    }
  }
}
