/**
 * @file /components/_comments-area.scss
 * Comments Area Design
 */
.comments-area {
  background-color: $green;

  &.open {
    background-color: $black;
    color: $white;
  }
  .comment-respond {
    padding: $space;
  }
  .comment-form {
    @include clearfix();
    clear: both;
    width: 100%;
  }
}
