/**
 * @file /components/_entry-footer.scss
 * Entry footer parts
 */

.entry-footer {
  @include font-size(1.4);
  color: $gray;
  background-color:$gray-lightest;
  font-weight: $sans-regular;

  .post.full & {
    padding-top: $space;

    @include breakpoint($large) {
      padding-top: $space-double;
    }
  }

  .byline {
    display: block;

    @include breakpoint($small-medium) {
      display:inline-block;
      width: 50%;
      float: left;
    }
    @include breakpoint($large) {
      display:block;
      margin-bottom: $space-one-half;
      padding-bottom: $space-one-half;
      border-bottom: 1px solid $gray-mid;
      width: auto;
      float: none;
    }

    .author {
      display: block;

      @include breakpoint($large) {
        text-align: center;
      }
      .photo {
        display:inline-block;
        clip-path: circle(25px at center);

        @include breakpoint($large) {
          display:block;
          margin: 0 auto;
        }
      }
    }
  }

  .meta {
    display: block;

    @include breakpoint($small-medium) {
      display:inline-block;
      width: 50%;
    }
    @include breakpoint($large) {
      display:block;
      width: auto;
    }
    .posted-on {
      display: block;
      margin-bottom: $space-one-half;
      padding-bottom: $space-one-half;
      border-bottom: 1px solid $gray-mid;
    }
    .categories {
      display: block;
      text-transform: lowercase;
      + .tags {
        padding-top: $space-one-fourth;
      }
    }
    .tags {
      display: block;
      text-transform: lowercase;
    }
  }
  .comments-link {
    display: inline-block;

    @include breakpoint($large) {
      display: block;
      a {
        display: block;
        padding: $space-one-third;
      }
    }
  }

  .edit-link {
    display: block;
    margin-top: $space;

    a.post-edit-link {
      @extend %button;
      @extend %btn-secondary;
      @extend %btn-small;
      display: block;
    }
  }
  .updated:not(.published) {
    display: none;
  }
}
