/**
 * @file /components/_entry-footer.scss
 * Entry footer parts
 */

.entry-footer {
  background-color:$gray-lightest;
  font-weight: $sans-bold;

  .byline {
    display: block;
    margin-bottom: $space-one-half;

    .author {
      display: inline-block;

      .photo {
        display: inline-block;
        clip-path: circle(25px at center);
      }
      a {
        padding: 0 $space-one-third;
      }
    }
  }

  .meta {
    display:block;
    margin-bottom: $space-one-half;
    .categories {
      display: block;
    }
    .posted-on {
      display: block;
    }
  }
  .comments-link {
    display: inline-block;
    a {
      padding: 0 $space-one-third;
    }
    @include breakpoint($large) {
      display: block;
      a {
        display: block;
        padding: $space-one-third;
      }
    }
  }

  .edit-link {
    display: block;
    a {
      display: block;
      padding: $space-one-third;
    }
  }
  .updated:not(.published) {
    display: none;
  }
}
