/**
 * @file /components/_figure.scss
 * Figure
 */

figure {
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
  background-color: $green-light;

  img {
    width: 100%;
    vertical-align: bottom;
  }

  + p {
    max-width: $max-width-image-paragraph;
  }
}
