/**
 * @file /components/_figcaption.scss
 * Figcaptions
 */

.caption > figcaption {
  display: block;
}
.wp-caption {
  max-width: 100%;
}
figcaption {
  @include clearfix();
  @include font-size(1.4);

  display: block;
  border-top: $border-width solid $gray-mid;
  padding: $space-one-third $space-one-half;
  background-color: $gray-lightest;
  font-weight: $sans-bold;
  color:$brown;
  cite {
    @include font-size(1.4);
    font-weight: $sans-bold;
  }
  span {
    @include font-size(1.2);
    display: block;
    vertical-align: middle;
  }
}
