/**
 * @file /components/_footer.scss
 * Footer design
 */

footer {

  &.site-footer {
    padding:$space-double $space;
    background-color: $gray;
    color: $white;
  }
  .site-info {
    @extend %wrapper;
    width: 100%;
  }
  .site-slogan {
    @include breakpoint($medium) {
      margin-right: $space-one-half;
    }
  }

}
