/**
 * @file /components/_header.scss
 * Header design
 */

header {
  &.site-header {
  padding: $space-one-half;
  color: $gray-mid;

    @include breakpoint($large) {
      padding: $space+$space-one-half $space-one-half;
    }
  }
}
