/**
 * @file /components/_hr.scss
 * HR header row styles
 */

hr {
  @include clearfix();
  margin: $space 0;
  border: 0;
  height: 4px;
  background: $gray;
  clear: both;

  &.color {
    background:$green-light;
  }
}
