/**
 * @file /components/_link.scss
 * Link styles
 */

a,
a:link {
  color: $link;
  text-decoration: none;
  transition: all 0.15s;

  &:visited {
    color: mix(black, $link, 10%);
  }
  &:hover {
    color: mix(black, $link, 60%);
  }

  // fancy links for full node links
  article.full & {
    &:not(.button) {
      border-bottom: $border-width/2 solid $link;
      transition: all 0.2s;

      &:hover {
        background-color: $link-highlight;
        border-color: mix($black, $link-highlight, 40%);
      }
      &:visited {
        border-color: mix($white, $link, 80%);
        &:hover {
          border-color: mix(black, $link, 40%);
          color: mix(black, $link, 40%);
        }
      }
    }
  }
}
