//////////////////////////////
// logo
// @_logo.scss
//////////////////////////////


.logo {
  display: block;

  &.site-logo {
    width: 100%;
    max-width:300px;

    @include breakpoint($medium) {
      width: auto;
    }
    @include breakpoint($large) {
      max-width:320px;
    }
  }

  &.footer-logo {
    max-width:150px;
    min-width: 50px;

    @include breakpoint($large) {
      max-width:200px;
    }
  }

  .logo {
    margin: 0;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    height: 0;
    padding-bottom: (100/200) * 100%; // Intrinsic ratio
    width: 100%;

    background: {
      size: contain;
      position: center center;
      repeat: no-repeat;
    }

    &.acc-c {
      background-image: url('../img/logos/acc-logo-c.svg');
      padding-bottom:100%; // Intrinsic ratio
      background-position: left center;
    }
    &.acc-c-white {
      background-image: url('../img/logos/acc-logo-c-white.svg');
      padding-bottom:100%; // Intrinsic ratio
      background-position: left center;
    }
    &.acc-stacked-c {
      background-image: url('../img/logos/acc-logo-stacked-c.svg');
      background-position: left center;
      padding-bottom: (100/200) * 100%;
    }
    &.acc-stacked {
      background-image: url('../img/logos/acc-logo-stacked.svg');
      background-position: left center;
    }
    &.acc-inline {
      background-image: url('../img/logos/acc-logo-inline.svg');
    }
    &.acc-inline-c {
      background-image: url('../img/logos/acc-logo-inline-c-larger.svg');
      background-position: left center;
      padding-bottom: (100/400) * 100%;
    }
    &.acc {
      background-image: url('../img/logos/acc-logo.svg');
      background-position: left center;
      padding-bottom: (70/100) * 100%;
    }
  }
}
