/**
 * @file /components/_nav-links.scss
 * Nav Links
 */

.nav-links {
  @include font-size(1.6);

  .meta-nav {
    padding: 0 $space-one-half 0 0;
    font-style: italic;
    font-weight: $sans-regular;
  }
  .dots {
    color: $white;
  }
  .dots,
  .post-title {
    font-weight: $sans-bold;
  }
  .dots,
  .current,
  a {
    padding: $space $space-one-half;
  }
  .nav-next {
    a,
    a:link,
    a:visited {
      background-color: $gray;
      color: $white;
      &:hover {
        background-color: $black;
      }
    }
  }
  .nav-previous {
    a,
    a:link,
    a:visited {
      background-color: $gray-dark;
      color: $white;
      &:hover {
        background-color: $black;
      }
    }
  }
}
