/**
 * @file /components/_pagination.scss
 * Pagination
 */

.pagination {
  @include font-size(1.6);
  font-weight: $sans-bold;
  background-color: $gray;

  .current {
    background-color: $green-mid-dark;
    color: $white;
    padding: $space;
  }
  a,
  a:link,
  a:visited {
    background-color: $gray-dark;
    color: $white;
    padding: $space;
    &:hover {
      background-color: $green-light;
      color: $green-dark;
    }
  }
}
