/**
 * @file /components/_painting-details.scss
 * Painting Details
 */

.painting-details {
  display: inline-block;
  margin-top: $space-one-half;
  margin-bottom: $space-one-half;
  padding: $space-one-half;
  border: $border-width solid $gray-mid;
  color:$gray-mid;
  max-width: $max-width;

  span {
    display:block;
  }
}
