//////////////////////////////
// search
// @_search.scss
//////////////////////////////

form.search,
.search-block-form form {
  input {
    @include font-size(1.4);
    padding:$space-one-third $space-one-third $space-one-third $space+$space-one-half;
    background-position: 10px center;
    background-size: 20px;
    border: 2px solid $blue;
    width: 100%;

    @include breakpoint($large) {
      width: auto;
    }
    &:focus {
      border-color: $blue-light;
      outline-color: $blue-light;
    }
  }
  .form-item {
    margin: 0;
    padding: 0;
  }
  .form-actions {
    display: none;
  }
}
