/**
 * @file /components/_selection.scss
 * Selection styles
 */

::-moz-selection {
  background-color: $yellow;
  color: $gray-dark;
}

::selection {
  background-color: $yellow;
  color: $gray-dark;
}
