//////////////////////////////
// site-title
// @_site-title.scss
//////////////////////////////

.site-title {
  a {
    display: block;
    margin: 0;
    width:75px;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    height: 0;
    padding-bottom: 75px; // Intrinsic ratio

    background: {
      size: contain;
      position: left center;
      repeat: no-repeat;
      image: url('../img/logos/jt-logo.svg');
    }
  }
}
