/**
 * @file /components/_video.scss
 * Video styles using intrinsic-ratio
 */

.video {
  margin-top: $space;
  margin-bottom: $space;

  .video-wrap {
    @include intrinsic-ratio(16 9);
  }
  .preview-lazyload {
    height: 100%;
  }
}
