/**
 * @file /components/_wrapper.scss
 * Wrapper styles - contain site components
 */

.wrapper,
%wrapper {
  margin: 0 auto;
  max-width: $grid-width;
  padding: $space;
  &:empty {
    display: none;
  }
}
