//////////////////////////////
// wrapper
// @_wrapper.scss
//////////////////////////////

.wrapper,
%wrapper {
  margin: 0 auto;
  max-width: $grid-width;
  padding: $space;
  &:empty {
    display: none;
  }
  header & {
    max-width: $grid-width-large;
  }
}
