/**
 * @file /components/_search.scss
 * Search styles
 */

@use "../config/variables";
@use "../config/mixins";

form.search,
.search-block-form form {
  input {
    font-size: 1.4rem;
    padding: variables.$space-one-third variables.$space-one-third variables.$space-one-third calc(variables.$space + variables.$space-one-half);
    background-position: 10px center;
    background-size: 20px;
    border: 2px solid variables.$green;
    width: 100%;

    @include mixins.breakpoint(lg) {
      width: auto;
    }
    &:focus {
      border-color: variables.$green-light;
      outline-color: variables.$green-light;
    }
  }
  .form-item {
    margin: 0;
    padding: 0;
  }
  .form-actions {
    display: none;
  }
}
