/**
 * @file /layouts/_search-form.scss
 * Search form
 */

@use "../config/variables";
@use "../config/mixins";

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: variables.$space 0;
  width: 100%;

  @include mixins.breakpoint(md) {
    flex-wrap: nowrap;
  }
  label {
    flex: 1 auto;

    @include mixins.breakpoint(md) {
      width: 70%;
    }
  }
  input {
    padding: variables.$space-one-half;
    height: 60px;
    width: 100%;
  }
  button {
    flex: 1 auto;

    @include mixins.breakpoint(md) {
      width: 30%;
    }
  }
}
