/**
 * @file /components/_widget-area.scss
 * Widget area
 */
 @use "../config/variables";
 @use "../config/mixins";

.widget-area {
  section {
    padding: variables.$space-double variables.$space;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      list-style-type: none;
      a,
      a:link,
      a:visited {
        display: inline-block;
        font-weight: var(--font-weight--sans-bold);;
        color: variables.$brown;
        border-bottom: variables.$border-width solid variables.$yellow;
        padding: variables.$space-one-fourth;
        &:hover {
          color: variables.$brown-dark;
          border-color: variables.$cream-light;
          background-color: variables.$yellow;
        }
      }
    }
  }
}
