/**
 * @file /layouts/_category.scss
 * Category page layouts
 */
.tag,
.category {
  .page-header {
    background-color: $gray-mid-dark;
    width: 100%;
    text-align: center;
    h1 {
      color: $white;
      max-width: 100%;
    }
  }
  .taxonomy-description {
    color: $white;
  }
}
