/**
 * @file /layouts/_comments-area.scss
 * Comments Area Layout
 */

.comments-area {
  @include flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-around);
  @include align-content(flex-start);
  background-color: $cream-lighter;

  .comment-respond {
    @include flex(1 auto);

    padding: $space;
    margin-top: $space;
  }
}
