//////////////////////////////
// comments-area
// @_comments-area.scss
//////////////////////////////

.comments-area {
  @include clearfix();
  clear: both;
  background-color: $yellow;

  .comment-respond {
    @extend %wrapper;
    @include clearfix();
    padding: $space;
    margin-top: $space;
    clear: both;
  }
}
