/**
 * @file /layouts/_content-bottom-widgets.scss
 * Content Bottom Widget Layout
 */

.content-bottom-widgets {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  @include breakpoint($small-medium) {
    flex-direction: row;
  }

  .widget-area {
    @include clearfix();
    display: flex;
    flex-flow: row wrap;
    flex: 1 auto;

    @include breakpoint ($small-medium) {
      width: 50%;
    }
    section {
      flex: 1 auto;

      @include breakpoint ($small-medium) {
        width: 50%;
      }
    }
  }
}
