/**
 * @file /layouts/_content-bottom-widgets.scss
 * Content Bottom Widget Layout
 */

.content-bottom-widgets {
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(stretch);
  @include align-content(flex-start);

  @include breakpoint($small-medium) {
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
  }
  @include breakpoint($large) {
    @include justify-content(space-between);
  }

  .widget-area {
    @include clearfix();
    @include flex(0 1 50%);

    section {
      padding: $space;
      @include breakpoint ($small-medium) {
        @include flex(0 1 50%);
      }
      &.widget_recent_entries {
        background-color: $orange;
        color: $white;
      }
      &.widget_categories {
        background-color: $yellow;
        color: $white;
      }
    }
  }
}
