//////////////////////////////
// html
// @_html.scss
//////////////////////////////

body {
  @include flexbox();
  min-height: 100vh;
  flex-direction: column;
  .outer-wrapper {
    flex: 1;
  }
}
