/**
 * @file /layouts/_main-menu.scss
 * Main-menu Layout
 */

.main-menu {

  ul.menu {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex(0 0 auto);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include align-content(stretch);
    width: 100%;

    @include breakpoint($large) {
      @include align-items(flex-start);
      @include align-content(flex-start);
    }
  }
  li {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex(0 0 auto);
    width: 25%;

    @include breakpoint($medium) {
      width: 25%;
    }
    @include breakpoint($large) {
      width: auto;
    }
    button {
      width: 100%;
    }
    a {
      margin: 0;
      width: auto;

      @include breakpoint($large) {
        @include flex(1 auto);
      }
    }
  }
}
