/**
 * @file /layouts/_main-menu.scss
 * Main-menu Layout
 */

.main-menu {

  ul.menu {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;

    @include breakpoint($large) {
      align-items: flex-start;
      align-content: flex-start;
    }
  }
  li {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 25%;

    @include breakpoint($medium) {
      width: 25%;
    }
    @include breakpoint($large) {
      width: auto;
    }
    button {
      width: 100%;
    }
    a {
      margin: 0;
      width: auto;

      @include breakpoint($large) {
        flex: 1 auto;
      }
    }
  }
}
