/**
 * @file /components/_nav-links.scss
 * Nav Links
 */
.nav-links {

  .nav-next,
  .nav-previous {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    @include breakpoint($medium) {
      width: 50%;
    }
    a {
      width: 100%;
    }
  }
}
