/**
 * @file /layouts/_post-full.scss
 * Post full layout
 */

.post {
  &.full.type-post {
    display: flex;
    flex: 1 auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    @include breakpoint($large) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .post-thumbnail {
      margin: 0 auto;
      flex: 1 auto;
      width: 100%;
      order: 1;
      img {
        width: 100%;
      }
    }
    .entry-content {
      flex: 1 1 auto;
      order: 2;

      @include breakpoint($large) {
        width: 75%;
        order: 3;
      }
    }
    .entry-footer {
      flex: 1 auto;
      width: 100%;
      order: 3;
      @include breakpoint($large) {
        flex: 1 1 auto;
        order: 2;
        width: 25%;
      }
    }
    .entry-content,
    .entry-footer{
      @extend %wrapper;
      max-width: 100%;
    }
  }
}
