//////////////////////////////
// posts
// @_posts.scss
//////////////////////////////

.post {
  .post-thumbnail {
    margin: 0 auto $space;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &.type-post {
    .entry-footer {
      @include breakpoint($medium) {
        @include grid-span(4,1);
      }
    }
    .entry-content,
    .entry-header {
      @include breakpoint($medium) {
        @include grid-span(12,5);
      }
    }
  }

  .entry-header,
  .entry-content,
  .entry-footer{
    @extend %wrapper;
  }
  .entry-header {
    margin-bottom: $space;
  }
}
