/**
 * @file /layouts/_post-teaser.scss
 * Post teasers layout
 */

.post {

  &.teaser.type-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    flex: 1 auto;
    width: 100%;

    @include breakpoint($smaller) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      align-content: center;
      width: 50%;
    }
    @include breakpoint($medium) {
      flex: 1 auto;
      width: 100%;
    }
    .entry-title {
      @extend %h2;
    }

    a {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items:stretch;
      align-content: flex-start;
      flex: 1 auto;
      color: $gray;
      transition: all 0.25s;

      @include breakpoint($smaller) {
        flex-direction: row;
        width: 100%;
      }


      &:hover {
        background-color: $green;
        color: $green-dark;
        img {
          filter: saturate(0%);
          opacity: .70;
          transition: all 0.25s;
        }
        .entry-title {
          color: $green-dark;
        }
      }
    }
    .post-thumbnail {
      @include flex(1 auto);
      width: 100%;

      @include breakpoint($smaller) {
        margin-bottom: $space-one-half;
      }
      @include breakpoint($medium) {
        margin-bottom: 0;
        flex: 0 0 auto;
        width: 35%;
      }
      @include breakpoint($large) {
        width: 25%;
      }
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
    .teaser-content {
      flex: 0 0 auto;
      padding: $space;
      width: 100%;

      @include breakpoint($medium) {
        flex: 0 0 auto;
        width: 65%;
        align-self: center;
      }
      @include breakpoint($large) {
        width: 75%;
      }
    }
  }
}
