/**
 * @file /layouts/_post-teaser.scss
 * Post teasers layout
 */

.post {

  &.teaser.type-post {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include align-content(flex-start);

    @include breakpoint($smaller) {
      @include flex-direction(row);
      @include justify-content(flex-start);
      @include align-items(center);
      @include align-content(flex-start);
      @include flex(0 1 50%);
    }
    @include breakpoint($medium) {
      @include flex(1 auto);
    }

    .post-thumbnail {
      @include flex(1 auto);
      background-color: $green;

      @include breakpoint($smaller) {
        margin-bottom: $space-one-half;
      }
      @include breakpoint($medium) {
        @include flex(0 1 30%);
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
      &:hover {
        img {
          filter: saturate(0%);
          opacity: .70;
        }
      }
    }
    .teaser {
      @include breakpoint($medium) {
        @include flex(0 1 70%);
      }
    }
    .entry-header {
      @include flex(1 auto);
      padding-top: 0;
      padding-bottom: 0;
    }
    .entry-content {
      @include flex(1 auto);
      padding: $space-one-half $space;
    }
    .entry-footer {
      @include flex(1 auto);
      padding:$space-one-half $space;
    }

    .entry-header,
    .entry-content,
    .entry-footer{
      @extend %wrapper;
    }
  }
}
