//////////////////////////////
// two-column
// @_two-column.scss
//////////////////////////////

.middle {
  @include breakpoint($large) {
    @include grid-span(11,1, $output-style:"float", $gutter:0);
  }
  .block-region-middle {
    @include clearfix();
    clear: both;
  }
}
.main.two-column {
  @include breakpoint($medium) {
    @include grid-span(11,1);
  }
}
.layout-sidebar-second + .main {
  clear: left;
  margin-top: $space;
  @include breakpoint($medium) {
    margin-top: 0;
  }
}

.layout-sidebar-first,
.layout-sidebar-second,
.layout-sidebar-third,
.layout-sidebar-fourth {
  @include breakpoint($medium) {
    @include grid-span(5,12);
  }
  + .block {
    margin-top: $space-one-half;
  }
  aside + aside {
    margin-top: $space;
  }
  + aside {
    margin-top: $space;
    @include breakpoint($medium) {
      margin-top:0;
    }
  }
}
.layout-sidebar-second {
  clear: right;
}

.layout-aside-one {
  @include clearfix();
  clear: both;

  aside + aside,
  + aside {
    margin-top: $space;
  }
}
