/**
 * @file /layouts/_comments-area.scss
 * Comments Area Layout
 */
@use "../config/variables";
@use "../config/mixins";

.comments-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;

  .comment-respond {
    margin:0 auto;
    flex: 0 0 auto;
    max-width: variables.$max-width;
    width: 100%;
  }
}
