/**
 * @file /layouts/_post-navigation.scss
 * Post Navigation
 */
@use "../config/variables";
@use "../config/mixins";

.post-navigation,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;

  @include mixins.breakpoint(md) {
    flex-direction: row;
  }
}
